.customHeader a{
  text-decoration: none;
  margin-right: 30px;
  font-size: 20px;
  color:white;
  font-weight: 600;
}
.customHeader a:hover{
    color:orangered;
}
.profile{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}